img {
  height: 6.5%;
  width: 6.5%;
  float: left;
}
#numberInput {
  margin-bottom: 15px;
  border-radius: 4px;
}
input:invalid {
  border: 1px dashed red;
  background-color: #f9f9f9;
}
input:valid {
  border: 1px solid lightblue;
}
#submitButton,#backwardButton, #resetButton {
  margin-right: 1%;
  margin-top: 5%;
  width: 90%;
}
#resetButton {
  display: none;
}
#resultOutput {
  margin: 5%;
  display: none;
}
#resultBackward {
  margin: 5%;
  display: none;
}
form {
  width: 85%;
}
ul {
  list-style: none;
}
