#numberInput {
  /* margin-top: 25px;
  margin-left: 25px; */
  margin-bottom: 15px;
  border-radius: 4px;
  width: 60%;
}
input:invalid {
  border: 2px dashed red;
  background-color: #f9f9f9;
}
input:valid {
  border: 1px solid lightblue;
}
#submitButton {
  width: 35%;
  margin-right: 2%;
}
#resetButton {
  display: none;
  width: 20%;
}
#resultOutput {
  margin: 5%;
  display: none;
}
form {
  width: 50%;
}
ul {
  list-style: none;
}
